<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://www.symfony-project.org/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

  <services>
    <service id="user" class="Application\SpringbokBundle\SpringbokUser">
      <argument type="service" id="event_dispatcher" />
      <argument type="service" id="user.session" />
      <argument type="collection">
        <argument key="default_culture">%user.default_culture%</argument>
      </argument>
      <call method="setUserService">
        <argument type="service" id="model.user" />
      </call>
    </service>
  </services>
</container>
